#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_INSTALL_PREFIX=/usr -DBUILD_TYPE=release -DRUN_TEST_SUITE:BOOL='OFF' -Wno-dev \
	-DMAJOR_VERSION=20 -DMINOR_VERSION=4 -DPATCH_VERSION=1 \
	-DGMMLIB_API_PATCH_VERSION=1000

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_test:
ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
	if grep -q sse4_2 /proc/cpuinfo; then dh_auto_test; fi
endif
