#!/usr/bin/make -f
IGC_PACKAGE_RELEASE=5585
%:
	export DEB_BUILD_OPTIONS='parallel=1'; dh $@ -D igc/IGC --parallel

override_dh_auto_configure:
	rm -f llvm_patches; ln -sf llvm-patches llvm_patches
	ln -sf ../../../opencl-clang llvm-project/llvm/projects
	cp -ar llvm-spirv llvm-project/llvm/projects
	ln -sf ../../../llvm-project/clang llvm-project/llvm/tools
	dh_auto_configure -- \
	-DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release \
	-Wno-dev -DIGC_PACKAGE_RELEASE=$(IGC_PACKAGE_RELEASE)

override_dh_strip:
	dh_strip --no-automatic-dbgsym

