#!/usr/bin/make -f
NEO_MAJOR=21
NEO_MINOR=29
NEO_BUILD=20389

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_BUILD_TYPE=Release \
	-Wno-dev \
	-DNEO_OCL_VERSION_MAJOR=$(NEO_MAJOR) \
	-DNEO_OCL_VERSION_MINOR=$(NEO_MINOR) \
	-DNEO_VERSION_BUILD=$(NEO_BUILD) \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DSKIP_UNIT_TESTS=1
