Source: intel-opencl
Section: libs
Priority: optional
Maintainer: Jacek Danecki <jacek.danecki@intel.com>
Build-Depends:
 debhelper (>=11),
 cmake,
 libigc-dev (>= 1.0.5964-1~),
 libigdgmm-dev (>= 20.3.2-2~),
 libva-dev,
 libze-loader-dev (>= 1.0.26-1~),
 pkg-config
Standards-Version: 3.9.7
Homepage: https://github.com/intel/compute-runtime

Package: intel-opencl-icd
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libigc (>= 1.0.5964-1~),
 libigdgmm11 (>= 20.3.2-2~)
Breaks:
 intel-opencl
Replaces:
 intel-opencl
Provides:
 opencl-icd
Description: Intel graphics compute runtime for OpenCL
 The Intel(R) Graphics Compute Runtime for OpenCL(TM) is a open source
 project to converge Intel's development efforts on OpenCL(TM) compute
 stacks supporting the GEN graphics hardware architecture.
 Please refer to http://01.org/compute-runtime for additional details
 regarding Intel's motivation and intentions wrt OpenCL support in
 the open source.
 .
 Supported Platforms
 - Intel Core Processors with Gen8 graphics devices (Broadwell) - OpenCL 2.1
 - Intel Core Processors with Gen9 graphics devices (Skylake, Kaby Lake, Coffee Lake) - OpenCL 2.1
 - Intel Atom Processors with Gen9 graphics devices (Apollo Lake, Gemini Lake) - OpenCL 1.2
 - Intel Core Processors with Gen11 graphics devices (Ice Lake) - OpenCL 2.1
 - Intel Core Processors with Gen12 graphics devices (Tiger Lake) - OpenCL 3.0

Package: libze-intel-gpu
Architecture: amd64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libigc (>= 1.0.5964-1~),
 libigdgmm11 (>= 20.3.2-2~)
Breaks:
 intel-level-zero-gpu
Replaces:
 intel-level-zero-gpu
Description: Intel(R) Graphics Compute Runtime for oneAPI Level Zero.
 Level Zero is the primary low-level interface for language and runtime
 libraries. Level Zero offers fine-grain control over accelerators
 capabilities, delivering a simplified and low-latency interface to
 hardware, and efficiently exposing hardware capabilities to applications.
