#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	-DCMAKE_BUILD_TYPE=Release \
	-Wno-dev \
	-DNEO_DRIVER_VERSION=19.45.14764 \
	-DCMAKE_INSTALL_PREFIX=/usr \
	-DSKIP_UNIT_TESTS=1
