#!/usr/bin/make -f
IGC_PACKAGE_RELEASE=6909
%:
	export DEB_BUILD_OPTIONS='parallel=1'; dh $@ -D igc/IGC --parallel

override_dh_auto_configure:
	ln -sf ../../../opencl-clang llvm-project/llvm/projects
	cp -ar llvm-spirv llvm-project/llvm/projects
	dh_auto_configure -- \
	-DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release \
	-Wno-dev -DIGC_PACKAGE_RELEASE=$(IGC_PACKAGE_RELEASE)

override_dh_strip:
	dh_strip --no-automatic-dbgsym

